@font-face {
    font-family: 'HankenGrotesk';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('TrueType');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'HankenGrotesk';
}

html {
    font-size: 18px;
}

body {
    background-color: white; 
}

h1 {
    font-size: 4rem;
    color: white;
    font-weight: bolder;
}

h2 {
    color: white;
}

h3 {
    color: hsl(221, 22%, 83%);
    margin-top: 0;
}

h4 {
    font-size: 1.2rem;
    color: hsl(224, 30%, 27%);
    margin-top: 0;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: fit-content;
    height: fit-content;
}

.container {        
    display: flex;
    width: fit-content;
    border-radius: 1.5rem;
    box-shadow: 0.7rem 0.7rem 1.5rem hsl(221, 100%, 96%);
    width: 600px;
    height: 450px;
    clear: both;
}

.result {
    width: 50%;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 1.5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    color: hsl(224, 30%, 27%);
    padding: 2rem;
}

.result_circle {
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.result_circle p {
    font-weight: bold;
    color: hsl(224, 30%, 27%);
    font-size: 0.9rem;
}

.result p {
    text-align: center;
    color: hsl(221, 22%, 83%);
}

.summary {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.summary ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    border-radius: 0.7rem;
    margin: 1rem 0;
    font-size: 0.9rem;
    font-weight: 700;
}

.red {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}


.orange {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.green {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.blue {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.icon {
    height: 100%;
    margin-right: 0.5rem;
    position: relative;
    top: 0.2rem;
}

.light {
    color: hsl(222, 9%, 64%);
    font-weight: bold;
}

.dark {
    color: hsl(224, 30%, 27%); 
}

button {
    width: 100%;
    padding: 1rem;
    border-radius: 1.7rem;
    background-color: hsl(224, 30%, 27%);
    text-align: center;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

button:hover, button:active {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));;
}

.attribution {
    position: absolute;
    bottom: -3rem;
    clear: both;
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    margin-top: 2rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 650px) {

    main {
        position: static;
        width: 100%;
        height: 100%;
        transform: none;
    }

    .container {
        display: flex;
        flex-flow: column;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        height: 100%;
    }

    .result {
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 1.5rem 1.5rem;
    }

    .summary {
        width: 100%;
        height: 100%;
    }

    .result h2, .result p, .result_circle {
        margin-top: 1rem;
    }
    
    .attribution {
        display: none;
    }

}

@media only screen and (max-height: 450px) and (orientation: landscape) {
    
    main {
        position: static;
        width: 100%;
        height: auto;
        transform: none;
    }

    .container {
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        height: 100%;
    }

    .result {
        width: 100%;
        height: 100%;
        border-radius: 0px 1.5rem 1.5rem 0px;
    }

    .summary {
        width: 100%;
        height: 100%;
    }

    .result h2, .result p, .result_circle {
        margin-top: 1rem;
    }

    .attribution {
        display: none;
    }

}